body {
    background-color: #f0f0f0; /* Light gray background */
}

.container-fluid .bg-purple {
    background-color: #9B009B !important; /* Use !important to override other styles */
}

.form-control {
    font-size: 18px; /* Increase font size for input fields */
    padding: 15px; /* Increase padding for input fields */
    height: 25px; /* Set a fixed height for input fields */
    width: 100%; /* Make input fields take full width */
    max-width: 600px; /* Set a maximum width for the input fields */
}

.form-label {
    font-family: 'Tahoma', sans-serif; /* Set font to Tahoma */
    font-size: 24px; /* Set font size to 36px */
    text-align: left; /* Align text to the left */
}

.register-container {
    margin-top: 50px; /* Add margin to position the login form towards the top */
    width: 100%; /* Ensure the container takes full width */
    max-width: 600px; /* Set a maximum width for the login container */
    margin-left: auto; /* Center the container */
    margin-right: auto; /* Center the container */
}

.header {
    font-family: 'Riffic Free Medium'; /* Set font for header */
    font-size: 64px; /* Set font size for header */
    margin-bottom: 75px; /* Space below the header */
}